body::-webkit-scrollbar {
	width: 5px;
	border-radius: 10px;
}
 
body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
	background-color: #e31414;
	border-radius: 10px;
}

.custom-logo{
	width: 200px;
}
.is-stuck #main-header-collapse ul li{
	color: #111;
}
#main-header-collapse ul li{
	color: #fff;
}
.custom-stretch-to-left{
	margin-left: -10vw !important;
}
.custom-banner-heading{
	font-size: 40px;
	font-weight: 600;
	z-index: 99;
}
.custom-stretch-to-left .liquid-img-container-inner{
	box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.1) !important;
}
.custom-service-stretch-to-right{
	margin-right: -27vw;
}
.img-inline{
	display: inline-block;
}
.contact-icons{
	color: #fd6161;
	padding-right: 8px;
}
.custom-nav li a{
	color: #111;
}
.sub-heading{
	font-size: 18px;
	text-transform: capitalize;
	font-style: italic;
}
.custom-border{
	border: 1px solid #e9e9e9;
}
.custom-service-menu{
	padding-left: 6rem;
}
#service-content{
	background: #fdfdfd;
}
.service-heading{
	color: #383838;
	font-weight: 600;
	text-transform: uppercase;
}
.service-heading1{
	color: #383838;
	font-weight: 600;
	text-transform: uppercase;
}
.accordion-title a{
	padding: 20px;
	font-weight: 600;
    border: 1px solid #e0e1eb;
}
.accordion-content{
    padding: 20px;
    border: 1px solid #e0e1eb;
    border-top: 0;
}
.accordion-body-underlined .accordion-item{
	border-bottom: 0;
}
.custom-badge{
	padding: 5px 10px;
    font-size: 13px;
    border-radius: 12px;
    background: #EBECED;
    margin-right: 5px;
}
.pricing-heading{
	padding: 30px;
    background: #f7f8fb;
    color: #111;
    font-size: 28px;
    font-weight: 500;
}
.href{
	color: #2176e0;
}