::-webkit-scrollbar {
	width: 5px;
	border-radius: 10px;
}
 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
	background-color: #FFE23F;
	border-radius: 10px;
}

.profile-dropdown{
	width: 200px !important;
}
table.dataTable{
	border-collapse: collapse !important;
}
.service-edit-icon{
	position: absolute;
    right: 22px;
    top: 10px;
}
.bootstrap-tagsinput .tag{
	background: #30419b;
    padding: 0 5px;
    border-radius: 2px;
}
.bootstrap-tagsinput{
	display: block !important;
}
.dataTables_wrapper{
	width: 100% !important;
}
.img-sm{
	width: 100px;
}
.modal-xlg{
	max-width: 1200px;
}
.no-data-icon i{
	font-size: 70px;
}
.client-logo{
	background: #fff;
    padding: 5px;
    border-radius: 4px;
}
.custom-page-title{
	font-size: 16px;
}
.bg-brand-yellow{
	background: #ffeb7b;
}
.scrollbox {
	overflow-y: auto;
	visibility: hidden;
	min-height: 10.7vw;
	max-height: 10.7vw;
}
.scrollbox-content, .scrollbox:hover, .scrollbox:focus {
	visibility: visible;
	transition: visibility 0s 0.2s;
}
.text-green-500{
	color: #4caf50;
}
.ribbon{
	display: inline-block;
    padding: 5px 9px;
    margin: 0;
    color: #ffffff;
    text-align: left;
}
.ribbon-success{
	background: #4CAF50;
}
.ribbon-danger{
	background: #FC3B3B;
}
.ribbon-warning{
	background: #fcbe2d;
}
.custom-card-title{
	color: #111;
	font-size: 16px;
}
.close-task:hover{
	font-size: 16px;
	transition: font-size 0.2s;
}