#nav-transparent .nav-menu > li:hover > a, #nav-transparent .nav-menu > li.active > a, #nav-transparent .nav-menu > li.focus > a, #nav-transparent .nav-white-bg .nav-menu > li:hover > a, .nav-dropdown > li:hover > a, .nav-dropdown > li.focus > a{
	color: #e31111;
}
#nav-transparent .nav-menu > li:hover > a .submenu-indicator-chevron, #nav-transparent .nav-menu > .active > a .submenu-indicator-chevron, #nav-transparent .nav-menu > .focus > a .submenu-indicator-chevron{
	border-color: transparent #e31111 #e31111 transparent;
}